name: Tani Workflow

on:
  push:
    branches:
     - main

  workflow_dispatch:

jobs:
    hello_world_job:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Print Hellow World And My Name!
          run: echo "Hello World! MyName is ${{ github.actor }}"